<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <title th:fragment="title">Send a friend request</title>
</head>
<body>
<div th:fragment="content">
    <div class="container-fluid">
        <h2 class="text-center m-4">친구의 닉네임을 검색해보세요</h2>
        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p th:text="${successMessage}"></p>
        </div>
        
        <form th:action="@{/friends/send}" method="post" th:object="${request}">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{sender}" />

            <div class="form-group">
                <label for="username">친구의 닉네임을 입력하세요</label>
                <input type="text" th:field="*{username}" id="username" class="form-control" placeholder="닉네임 입력">
                <div th:if="${#fields.hasErrors('username')}" class="text-danger">
                    <p th:errors="*{username}"></p>
			    </div>
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-dark btn-block" type="submit">친구 요청</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>