html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <title th:fragment="title">Send a friend request</title>
</head>
<body>
<div th:fragment="content">
    <div class="container-fluid">
        <h2 class="text-center m-4">친구의 닉네임을 검색해보세요</h2>
        <form th:action="@{/friends/send}" method="post" th:object="${request}">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{sender}" />
            <div th:if="${!users.isEmpty()}" class="form-group">
                <label for="name">친구의 닉네임을 선택하세요</label>
                <select th:each="user: ${users}" name="name" th:field="*{username}" id="name" class="form-control">
                    <option th:value="${user.getUsername()}" th:text="${user.getUsername()}"></option>
                </select>
            </div>
            <div class="font-weight-bold text-center mb-5 mt-5" th:if="${users.isEmpty()}">새로운 친구가 없습니다</div>
            <div th:if="${!users.isEmpty()}" class="form-group">
                <button class="btn btn-lg btn-dark btn-block" type="submit">친구 요청</button>
            </div>
            <div th:if="${users.isEmpty()}" class="form-group">
                <a th:href="@{/}" href="#" class="btn btn-lg btn-dark btn-block">프로필</a>
            </div>
        </form>
    </div>
</div>
</body>